<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Custom/CSS/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container body-content" style="width:100%;padding:0 0 0 0 ;">
        @RenderBody()
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-xs-12"></div>
                    <div class="col-lg-12 col-xs-12" style="text-align:center;">
                        © SoundCheck.pro
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="~/Custom/JS/Common.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#menu-toggle").click(function () {

                if ($(this).hasClass("open")) {
                    $(this).removeClass("open");
                    $("#sidebar-wrapper").css('left', -200);
                }
                else {
                    $(this).addClass("open");
                    $("#sidebar-wrapper").css('left', 200);
                }

            })

        })
    </script>
</body>
</html>
